:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --mail-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --bg-color-1: #2f303a;
  --bg-color-2: #f5f4fa;
}

body {
  font-family: Roboto;
}

.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -----------------HEADER------------------ */
.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.web {
  color: var(--accent-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.header-contacts:hover,
.header-contacts :focus {
  color: var(--accent-color);
}

/* ---------TITLE----- */

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
.main-title {
  background-color: var(--bg-color-1);
}

.main-title-btn {
  background-color: var(--accent-color);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

button:active,
button:hover {
  cursor: pointer;
}

/* -----------MAIN------------ */

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.pre-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.team {
  background-color: var(--bg-color-2);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* ----------FOOTER------------ */
footer {
  background-color: var(--bg-color-1);
}
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.contact-link {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.contact-tel {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mail-text-color);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11 */

:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --mail-text-color: rgba(255, 255, 255, 0.6);
  --first-button-color: #f5f4fa;
  --second-button-color: #2196f3;
  --accent-color: #2196f3;
  --bg-color: #2f303a;
}

.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -----------------HEADER------------------ */
.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.web {
  color: var(--accent-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.header-contacts:hover,
.header-contacts :focus {
  color: var(--accent-color);
}

/* -----------MAIN------------ */

.kinds-btn {
  background-color: var(--first-button-color);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.kinds-btn:hover,
.kinds-btn:active {
  color: var(--third-text-color);
}

button:active,
button:hover {
  cursor: pointer;
  background: var(--second-button-color);
}

.title-1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.pre-title-1 {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* ----------FOOTER------------ */
footer {
  background-color: var(--bg-color);
}
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.contact-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mail-text-color);
}
